<!doctype html>
<html class="no-js" lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>わびさびの不可解 - first</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/first.css">
    </head>
    <body>
        <!-- ここからコンテンツ -->
        <p>First</p>
        <!-- ここまでコンテンツ -->
        <script src="js/first.js"></script>
    </body>
</html>
