<!doctype html>
<html class="no-js antialiased" lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>わびさびの不可解 - index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<body class="">
  <form class="flex flex-wrap content-center justify-center max-w-full max-h-full bg-gray-400">
    {% for image in images[:11 ** 2] %}
      <img id="{{ image }}"
           class="cursor-pointer shadow-md hover:shadow-xl rounded object-cover object-center w-1/12 m-1"
           src="/dataset/wabisabi/{{ image }}"
           loading="lazy">
    {% endfor %}
  </form>
  <!-- scripts -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static/js/', filename='common.js') }}"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>

</body>

</html>
