<!DOCTYPE html>
<html class="no-js antialiased" lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>わびさびの不可解 - second</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="谷琴音">
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/second.css?cch={{ cch }}" />
  </head>

  <body>
    <!-- Contents START -->
    <ol>
      <li>
        <div align="center">
          <img
            src="/static/GAN/image_20200109-073937_epoch_0050.png"
            alt="top"
            width="600px"
            height="600px"
          />
        </div>
      </li>
      <li></li>
    </ol>

    <div class="container mx-auto">second</div>
    <!-- Contents END -->
    <!-- scripts -->
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script
      type="text/javascript"
      src="/static/js/second.js?cch={{ cch }}"
    ></script>
  </body>
</html>
